@media(max-width:960px)
{
    .cnt{
        width: 100%;
        height: auto;
    }
    .wrapper{
        width: 98%;
        height: auto;
        margin: 0;
    }
    .header-top{
        padding: 0;
    }
    .header-bottom{
        padding-top: 50px;
    }
    .content{
        width: 98%;
        height: auto;
        justify-content: center;
        padding-top: 3rem;
    }
    .caption{
        font-size: 1.5em;
        letter-spacing: 0.2em;
        padding: 2em 0;
    }
    .subtitle{
        font-size: 0.7em;
        padding: 1rem;
        text-align: center;
    }
    .content-box__description{
        font-size: 1em;
        width: 90%;
    }
    .content-box__link-first{
        font-size: 0.7em;
    }
    .content-box__link-two{
        font-size: 0.7em;
    }
    .bottom-box{
        max-height: 50px;
        font-size: 0.6em;
    }
    .social a{
        width: 25px;
        height: 25px;
        margin-left: 0.5rem;
        margin-right: 0;
    }
    .search-hover{
        width: 100%;
        height: auto;
    }
    .img-box{
        padding: 0;
    }
    .img-box__wrapper{
        position: relative;
        height: auto;
}
    .product{
        max-width: 100%;
        height: auto;
    }
    .content-box{
        width: 90%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .hover_hashtag{
        padding-top: 10rem;
        font-size: 1em;
    }
    .hover_description{
        font-size: 2em;
    }
    .footer-social__wrapper{
        padding-top: 5rem;
    }
    .hidden-wrap{
        max-width: 80%;
        font-size: 1em;
    }
    .footer{
        margin-bottom: 50px;
        padding: 1rem;
    }
    .footer__bottom{
        margin: 20px;
    }
    .content-page2{
        width: 90%;
    }
    .content-box-second__border{
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
    .code{
        padding-top: 10px;
    }
    .code__vagner{
        font-size:0.6em;
        padding: 0.5em;
    }
    .nav{
        padding-top: 2rem;
    }
    .chek-box{
        font-size: 0.5em;
    }

}