.hidden{
    z-index: 999;
    display: none;*/
    position: absolute;
    font-size: 1.5em;
    background: #000;
    color: #a39c9c;
    max-width: 610px;
    height:3000px;
    padding: 0 1rem;
}
.hidden-menu{
    width: 80%;
    height: 80%;
    margin: auto;
}
.hidden__text_hello{
    padding-top: 40%;
}
.hidden__text_center{
    padding-top:2rem;
}
.hidden__list{
    margin-top: 5rem;
    padding-top: 4rem;
    text-decoration: none;
    color: #fff;
    border-top: 5px solid rgba(163, 156, 156, 0.49);
}
.hidden__list_home:hover{
    background: rgba(37, 245, 179,0.5);
    transition: all 0.3s ease;
}
.hidden__list_post:hover{
    background: rgba(37, 245, 179,0.5);
    transition: all 0.3s ease;
}
.hidden__list_gallery:hover{
    background: rgba(37, 245, 179,0.5);
    transition: all 0.3s ease;
}
.hidden__list_contact:hover{
    background: rgba(37, 245, 179,0.5);
    transition: all 0.3s ease;
}
.hidden__text_bottom{
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.hidden__list a{
    line-height: 1.5;
    display: block;
    color: #a39c9c;
    font-size: 1.5em; 
    text-transform: capitalize;
    text-decoration: none;
}
/*.hidden__list_home{
    display: block;
    color: #fff;
    font-size: 1.5em;
    text-transform: capitalize;
}
.hidden__list_post{
    display: block;
    color: #fff;
    font-size: 1.5em;
    text-transform: capitalize;
}
.hidden__list_gallery{
    display: block;
    color: #fff;
    font-size: 1.5em;  
    text-transform: capitalize;
}
.hidden__list_contact{
    display: block;
    color: #fff;
    font-size: 1.5em; 
    text-transform: capitalize;
}*/
