@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700|EB+Garamond|Montserrat:400,500,500i,700,900|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color:#16d598;
}
.cnt{
    max-width: 100%;
    max-height: 100%;
    background: url(img/fons.png);
    font-family: Helvetica sans-serif;
    font-size: 20px;
}
.wrapper{margin: 0 auto;
    /*width: 85%;*/
    margin: 0 160px;
}
.menu-center{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
.search_hidden{
    padding-top: 15px;
    display: flex;
    cursor: pointer;
}
.search-text{
    font-family: sans-serif;
    font-size: 19px;
}
.search-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url(img/strainer-or-magnifying-tool_icon-icons.com_74331.png);
    background-size: contain;
    display: inline-block;
}
.icon-menu{
    height: 27px;
    width: 55px;
    float: left;
    padding: 15px 0;
    cursor: pointer;
    margin-right: 10px;
}
.divide{
    display: block;
    height: 2px;
    margin: 10px 0;
    background: #000;
}
.header{
    text-align: center;
    padding-top: 215px;
}

.social a{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.caption{
    padding:70px 0 80px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    letter-spacing: 25px;
}
.subtitle{
    font-family: 'GEORGIA ITALIC', sans-serif;
    font-weight: 100;
    color: #7f7f7f;
    font-size: 32px;
    font-style: italic;
}   
.header>.social a{padding-left: 40px;}
.s-dribbble{
    background: url(img/social/glob.png);
}
.s-linkedin{
    background: url(img/social/in.png);
}
.s-inst{
    background: url(img/social/gl.png);
}
.s-tw{
    background: url(img/social/tv.png);
}
.s-fb{
    background: url(img/social/f.png);
}
.s-email{
    background: url(img/social/email.png);
}
.s-dribbble:hover{
    background: url(img/social/globcol.png); 
    transition:ease 0.5s;
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.s-linkedin:hover{
    background: url(img/social/incol.png);
    transition:ease 0.5s;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.s-inst:hover{
    background: url(img/social/inscolor.png);
    transition:ease 0.5s;
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.s-tw:hover{
    background: url(img/social/twcol.png);
    transition:ease 0.5s;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.s-fb:hover{
    background: url(img/social/fcol.png);
    transition:ease 0.5s;
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 1rem; 
}
.s-email:hover{
    background: url(img/social/emcolor.png);
    transition:ease 0.5s;
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0;
    padding-top: 235px;
}
.img-box{
    position: relative;
    z-index: 0;
    max-width: 90%;
    width: 610px;
    max-height: 965px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    background-size: contain;
}
.img-box__wrapper{
    position: relative;
    width: 99%;
    height: 875px;
}
.img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
}
.hover_hashtag{
    color: #fff;
    padding: 20rem 0 3rem 0;
    text-align: center;
}
.hover_text{
    color: #fff;
    text-align: center;
    font-family: 'Droid Serif';
    font-size: 64px;
    font-style: italic;
}
.hover{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background:rgba(37, 245, 179, 0.69);
    display: none;
}
.img-box__wrapper:hover .hover{
    display: block;
    border-radius: 10px;
}
.hover_hashtag{
    font-family: 'GEORGIA ITALIC', serif;
    font-size: 32px;
}
.text{
    width:99%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    border-top: 5px solid #c1c1c1;
}































